# Introduction to Python : The Basics

An introductory-to-Python notebook for the purposes of the course "Numerical Analysis" (Prof. Nikolaos Stergioulas) at Aristotle University of Thessaloniki (AUTh). 

A first version lives in [v1.0@2021](https://github.com/sfragkoul/Python_Intro) by Stella Frangouli (based on "Introduction to Scientific Computing in Python" by Robert Johansson).

Notebook by Argyro Sasli, March 2022

## About Python

Python is a general-purpose, object-oriented, high-level programming language that supports rapid development of scripts and applications.

*Advantages*
1. Open Source software, supported by Python Software Foundation
2. Supports multiple programming paradigms ('functional', 'object oriented')
3. A large library, plus third-party packages
4. Very easy to use
5. Documentation tightly integrated with the code

*Disavantages*
1. Slower than other (non interpreted and dynamically typed) programming languages (i.e., C or Fortran). However, you can improve it with Cython!
2. For the begginers, it might be confusing. Packages and documentation in different places.

### Python, an interpreted language

The source code is not directly translated by the target machine. It can be used in two ways:

* "Scripting" Mode: Executing a series of "commands" saved in text file, with a .py extension

* "Interactive" Mode: Like an "advanced calculator", executing one command at a time →
    Jupyter-style notebooks (e.g., Jupyter Notebook, Juptyter Lab)
    
    Type ``help``, ``copyright``, ``credits`` or ``license`` for more information

Go to [Google Colab](https://colab.research.google.com) and login with your Google account.
Select __NEW NOTEBOOK__ → __NEW PYTHON 3 NOTEBOOK__ - a new notebook will be created.

``print("Hello Jupyter !")`` and press __Shift-Enter__ to run the contents of the cell.

In [1]:
print("Hello Jupyter !")

Hello Jupyter !

In [3]:
mytext = "Hello Jupyter !"
mytext

'Hello Jupyter !'

## Variables and types

By convention, **variable** names start with a lower-case letter, and **Class** names start with a capital letter. 

There are a number of Python keywords that cannot be used as variable names:

*and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield*

Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

``type(x)`` returns the type of the variable x

1. Integers (``int``)

In [4]:
a=5
type(a)

int

2. Floats (``float``)

In [5]:
a=5.0
type(a)

float

3. complex (`complex`)

Use 'j' to specify the imaginary part

In [27]:
c = 1 + 2j
type(c)

complex

In [28]:
print(c.real, c.imag)

1.0 2.0

In [39]:
# type casting
x = 1.5
print(x, type(x))

1.5 <class 'float'>

In [41]:
xint=int(x)
print(xint, type(xint))

1 <class 'int'>

More `types` module??

In [29]:
import types

# print all types defined in the 'types' module
print(dir(types))

['AsyncGeneratorType', 'BuiltinFunctionType', 'BuiltinMethodType', 'CellType', 'ClassMethodDescriptorType', 'CodeType', 'CoroutineType', 'DynamicClassAttribute', 'FrameType', 'FunctionType', 'GeneratorType', 'GenericAlias', 'GetSetDescriptorType', 'LambdaType', 'MappingProxyType', 'MemberDescriptorType', 'MethodDescriptorType', 'MethodType', 'MethodWrapperType', 'ModuleType', 'SimpleNamespace', 'TracebackType', 'WrapperDescriptorType', '_GeneratorWrapper', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_calculate_meta', '_cell_factory', 'coroutine', 'new_class', 'prepare_class', 'resolve_bases']

### Operators

<font color='magenta'>+ - / * % ** // </font>

In [11]:
# Power
3**2

9

In [12]:
# Alternative
pow(3,2)

9

In [10]:
# Modulo
10 % 3

1

In [37]:
# Integer division of float numbers
3.0 // 2 #same with 3.0//2.0

1.0

float + int = float

In [35]:
x = 3.0 * 1
type(x)

float

int + str ??

In [13]:
str(a) + " " + mytext

'5.0 Hello Jupyter !'

operators with assignment

In [25]:
a = 5.0
a += 1 
print(a)
b = 3.0
print('b equals',b)
b -=3
print('b-=3 will give',b)

6.0
b equals 3.0
b-=3 will give 0.0

#### Boolean operations
* logic operators: ``<, >, ==, !=, <=, >=``

In [30]:
5<4

False

In [57]:
# equality
[1,2] == [1,2]

True

In [65]:
2 >= 2, 2 != 2

(True, False)

* statements of identity such as ``is``, ``and``, ``not``

In [53]:
True and True # &&

True

In [54]:
True or False # ||

True

In [55]:
not False # !=

True

In [67]:
x = 1.0

# check if the variable x is an int
type(x) is int

False

Type Boolean (``bool``)

In [66]:
b1 = True
b2 = False

type(b1)

bool

*Some functions*

We can also use the ``isinstance`` method for testing types of variables

In [44]:
isinstance(x, int)

False

The ``bool()`` function converts a value to Boolean (True or False) using the standard truth testing procedure.

In [48]:
z1= 0+ 6j

y = bool(z1.real)
print(z1.real, " -> ", y, type(y))

y = bool(z1.imag)
print(z1.imag, " -> ", y, type(y))

0.0  ->  False <class 'bool'>
6.0  ->  True <class 'bool'>

## Compound types: Strings, List and dictionaries

### Strings
In Python, a string is __immutable__. You cannot overwrite the values of immutable objects. However, you can assign the variable again. It's not modifying the string object; it's creating a new string object.

In [61]:
print(mytext,'-> is',type(mytext))

Hello Jupyter ! -> is <class 'str'>

In [68]:
mytext[0]

'H'

In [69]:
mytext[0]='z'

TypeError: 'str' object does not support item assignment

In [71]:
# length of the string: the number of characters
len(mytext)

15

Lists starts from zero!

In [72]:
mytext[15]

IndexError: string index out of range

In [73]:
mytext[14] #len(mytext)-1

'!'

*or*

In [74]:
mytext[-1]

'!'

In [76]:
s = 'z' + mytext # after concatenating, s_new is a new object

In [77]:
s

'zHello Jupyter !'

We can use __slicing__ in strings

``[start:stop:step]`` --> extracts characters between index *start* and *stop* (by default *step* is 1)

In [78]:
s3="abcdefgh"
s3[3:6] #[start : (stop-1): step] same as s3[3:6:1]

'def'

In [80]:
s3[::] #same as s3[0:len(s3)-1:1]

'abcdefgh'

In [81]:
s3[::-1] #same as s3[-1:-(len(s3)+1):-1]

'hgfedcba'

In [82]:
s3[4:1:-2]

'ec'

### Lists
__Lists__ are very similar to strings, except that each element can be of any type. The syntax for creating lists in Python is [...].

In [83]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [84]:
print(l)
print(l[1:3])
print(l[::2])
len(l)

[1, 2, 3, 4]
[2, 3]
[1, 3]

4

In [85]:
#Elements in a list do not all have to be of the same type

l = [1, 'a', 1.0, 1-1j]
print(l)

[1, 'a', 1.0, (1-1j)]

__Generating lists__

In [86]:
start = 10
stop = 30
step = 2
# in python 3 range generates an interator, which can be converted to a list using 'list(...)'.
# It has no effect in python 2
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [87]:
list(range(-10, 10)) #by default step=1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
L = [9, 6,0,3]
type(L)

list

In [133]:
Ls=sorted(L)
print('The elements of the list L are',L,'\nThe sorted list is',Ls)
#returns the list sorted but not mutated!

The elements of the list L are [9, 6, 0, 3]
The sorted list is [0, 3, 6, 9]

Python lists can be **inhomogeneous and arbitrarily nested**

In [115]:
nested_list = [1, [2, [3, [4, [5]]]]]
print(nested_list)

[1, [2, [3, [4, [5]]]]]

In [127]:
nested_list[1][1][1]

[4, [5]]

What about the *length* of a nested list?

In [125]:
len(nested_list[1][1][1])

2

In [117]:
len(nested_list)

2

In [130]:
nested_list=[[1,2,3,45,6,7],[22,33,44,55],[11,13,14,15]]
len(nested_list)

3

In [131]:
nested_list=[[1,2,3,45,6,7],[22,33,44,55],[11,13,14,15]]
len(nested_list[1])

4

#### Manipulating lists

The list is a data type that is __mutable__.

In [88]:
# convert a string to a list by type casting:
s2 = list(s)
print(s2)

['z', 'H', 'e', 'l', 'l', 'o', ' ', 'J', 'u', 'p', 'y', 't', 'e', 'r', ' ', '!']

In [89]:
# sorting lists
s2.sort()
print(s2)

[' ', ' ', '!', 'H', 'J', 'e', 'e', 'l', 'l', 'o', 'p', 'r', 't', 'u', 'y', 'z']

In [112]:
L.sort(reverse=True) #same with L.reverse()
print(L)

[9, 6, 3, 0]

In [98]:
# create a new empty list
l = []
# add an element using append. Append changes the initial object.
l.append("A")
l.append("d")
l.append("d")
print(l)

['A', 'd', 'd']

In [99]:
l[1] = "p"
l[2] = "p"
print(l)

['A', 'p', 'p']

In [101]:
l[1:3] = ["d", "d"] #the [num1:num2] means num1 to num2-1
print(l)

['A', 'd', 'd']

__Insert__ an element at a __specific index__ by using ``insert``

In [102]:
l.insert(0, "i")
l.insert(1, "n")
l.insert(2, "s")
l.insert(3, "e")
l.insert(4, "r")
l.insert(5, "t")
print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd']

__Remove__ the first element with a specific value by using ``remove``

In [103]:
l.remove('d')

print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd']

__Remove__ an element at a __specific location__ by using ``del``

In [104]:
del l[7]
del l[6]
print(l)

['i', 'n', 's', 'e', 'r', 't']

__Remove__ the *last element* of the list by using ``pop``

In [106]:
l.pop()

't'

In [107]:
print(l)

['i', 'n', 's', 'e', 'r']

How to __copy__ a list ?!

In [146]:
l1 = [1,2,3,4,5,6,7,8,9]

In [147]:
l2 = l1

In [148]:
l1[0] = 0
print(l2)

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
l3=l1.copy()

In [152]:
print('Initially l3 is',l3)
l1[0] = 1
print('\nAfter manipulating l1, l3 is',l3)
print('\nHowever, l2 is',l2)

Initially l3 is [0, 2, 3, 4, 5, 6, 7, 8, 9]

After manipulating l1, l3 is [0, 2, 3, 4, 5, 6, 7, 8, 9]

However, l2 is [1, 2, 3, 4, 5, 6, 7, 8, 9]

### Tuples
Tuples are like lists, except that they cannot be modified once created, that is they are **immutable**. In Python, tuples are created using the syntax (..., ..., ...), or even ..., ...

In [134]:
te = ()
print(type(te))

<class 'tuple'>

In [135]:
t=(1, "auth", 4)

print(t, type(t))

(1, 'auth', 4) <class 'tuple'>

In [136]:
t_new = t + (7,8)
t_new

(1, 'auth', 4, 7, 8)

In [137]:
t[1:2]

#the extra comma represents a tuple object with one element

('auth',)

In [138]:
t[1:3]

('auth', 4)

In [141]:
# this lines PACKS values
# into variable a
a = ("Aristotle University of Thessaloniki", "Calculus 1")  
 
# this lines UNPACKS values
# of variable a
(university, subject) = a

In [142]:
university

'Aristotle University of Thessaloniki'

## Control Flow

Instead of __{ }__ Python is __indent__ sensitive. Program blocks are defined by their __indentation level__.

The Python syntax for conditional execution of code uses the keywords ``if``, ``elif`` (else if), ``else``

In [154]:
statement1 = False
statement2 = False

if statement1:
    print("statement1 is True")

elif statement2:
    print("statement2 is True")

else:
    print("statement1 and statement2 are False")

#equivalent C code
# if (statement1)
# {
#   printf("statement1 is True\n");
# }
# else if (statement2)
# {
#   printf("statement2 is True\n");
# }      
# else
# {
#   printf("statement1 and statement2 are False\n");
# }

statement1 and statement2 are False

In [156]:
statement1 = statement2 = True
if statement1:
    if statement2: #nested condition
        print("both statement1 and statement2 are True")
print('\noutside of the if block')

both statement1 and statement2 are True

outside of the if block

In [158]:
x = float(input("Enter a number for x: "))
y = float(input("Enter a number for y: "))
if x == y:
    print("You enter the same values!")
if y != 0:
    print("x / y is", x/y)
elif x < y:
    print("x is smaller")
else:
    print("y is smaller")

Enter a number for x:  1
Enter a number for y:  2

x / y is 0.5

In [159]:
x = float(input("Enter a number for x: "))
y = float(input("Enter a number for y: "))
if x == y:
    print("You enter the same values!")
if y != 0:
    print("x / y is", x/y)
    if x < y:
        print("x is smaller")
    else:
        print("y is smaller")

Enter a number for x:  1
Enter a number for y:  2

x / y is 0.5
x is smaller

## Loops

### While loops

In [160]:
i = 0
while i < 5:
  print(i)
  i = i + 1
print("done")

0
1
2
3
4
done

In [161]:
n = input("You're in the Lost Forest. Go left or right? ")
while n == "right" or n=="Right" or n=="RIGHT":
    n = input("You're in the Lost Forest. Go left or right? ")
print("You got out of the Lost Forest!")

You're in the Lost Forest. Go left or right?  right
You're in the Lost Forest. Go left or right?  right
You're in the Lost Forest. Go left or right?  left

You got out of the Lost Forest!

Beware of infinite loops!

```Python
while True:
  print(0)
```

### For loops

The __most common__ is the __for loop__, which is used together with __iterable objects__, such as lists.

The for loop iterates over the elements of the supplied list, and executes the containing block once for each element.

In [162]:
for x in range(5): #  by default range start at 0, does not include 5 !
    print(x)

0
1
2
3
4

In [163]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [164]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

In [165]:
for i in zip(range(0,5),["scientific", "computing", "with", "python"]):
    print(i)

(0, 'scientific')
(1, 'computing')
(2, 'with')
(3, 'python')

In [166]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

In [186]:
mysum = 0
for i in [1, 3, 7]:
    print('i equals '+str(i))
    mysum += i
    if mysum == 5: break
    mysum += 1
print('mysum =',mysum)

i equals 1
i equals 3
mysum = 5

**Creating lists using for loops**

In [204]:
l1 = [x**2 for x in range(0,5)]
print(l1)

[0, 1, 4, 9, 16]

In [221]:
b=[5,6,7,8]
l3=[x for x in a for a in b]

In [222]:
l3

[[1, 2], [1, 2], [1, 2], [1, 2], [3, 4], [3, 4], [3, 4], [3, 4]]

In [229]:
text = (("Introduction", "to"), ("Python", "!"))
[word for sentence in text for word in sentence]

['Introduction', 'to', 'Python', '!']

Let's explain the above!

In [230]:
for sentence in text:
    print('sentence value',sentence)

sentence value ('Introduction', 'to')
sentence value ('Python', '!')

In [232]:
for sentence in text:
    print('sentence value',sentence)
    for word in sentence: print('word=',word)

sentence value ('Introduction', 'to')
word= Introduction
word= to
sentence value ('Python', '!')
word= Python
word= !

## Dictionaries

Dictionaries are a container that store key-value pairs. They are unordered.

In [233]:
pairs = {'Apple': 1, 'Orange': 2, 'Pear': 4}
pairs

{'Apple': 1, 'Orange': 2, 'Pear': 4}

In [234]:
pairs['Orange']

2

In [235]:
pairs['Orange'] = 16
pairs

{'Apple': 1, 'Orange': 16, 'Pear': 4}

## Functions

A **function** in Python is defined using the keyword ``def``, followed by a *function name*, a *signature* within parentheses (), and a *colon*.

Optionally, but highly recommended, we can define a so called **docstring**, which is a description of the functions purpose and behavior. The docstring should follow directly after the function denition, before the code in the function body.

In [242]:
def func1(s):
    """
    Print a string 's' and tell how many characters it has
    """
    print(s + " has " + str(len(s)) + " characters")

In [243]:
help(func1)

Help on function func1 in module __main__:

func1(s)
    Print a string 's' and tell how many characters it has

In [237]:
func1("Numerical")

Numerical has 9 characters

In [238]:
func1("Analysis")

Analysis has 8 characters

In [239]:
func1("Numerical Analysis!")

Numerical Analysis! has 19 characters

We can return multiple values from a function using tuples

In [244]:
def powers(x):
    """
    Return a few powers of x.
    """
    return x ** 2, x ** 3, x ** 4

In [245]:
powers(3)

(9, 27, 81)

In [246]:
x2, x3, x4 = powers(3)
print(x4)

81

In [251]:
def xtop(x, p):
    return x**p

In [252]:
xtop(3,5)

243

In [253]:
xtop(5,3)

125

#### Default argument and keyword arguments

In a definition of a function, we can give default values to the arguments the function takes

In [247]:
def myfunc(x, p=2, debug=False):
    if debug:
        print("evaluating myfunc for x = " + str(x) + " using exponent p = " + str(p))
    return x**p

In [248]:
myfunc(5)

25

In [249]:
myfunc(5, p=3, debug=True)

evaluating myfunc for x = 5 using exponent p = 3

125

If we explicitly list the name of the arguments in the function calls, they do not need to come in the same order as in the function definition. This is called **keyword arguments**.

In [254]:
myfunc(p=3, debug=True, x=5)

evaluating myfunc for x = 5 using exponent p = 3

125

#### Unnamed functions (lambda function)

In [255]:
f1 = lambda x: x**2

# is equivalent to
def f2(x):
    return x**2

f1(2), f2(2)

(4, 4)

``map()`` function returns a map object (which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [256]:
list(map(lambda x: x**2, range(-3,4)))

[9, 4, 1, 0, 1, 4, 9]

In [259]:
tuple(map(lambda x: x**2, range(0,5)))

(0, 1, 4, 9, 16)

## Modules
Most of the functionality in Python is provided by modules. A module can be imported using the ``import`` statement.

In object-oriented programming languages like Python, an object is an entity that contains data along with associated metadata and/or functionality.

In Python *everything* is an object, which means every entity has some metadata (called attributes) and associated functionality (called methods).

These attributes and methods are accessed via the **dot syntax**: *object_name. do_something()*

In [260]:
import math

x = math.cos(2 * math.pi)

print(x)

1.0

In [261]:
from math import *

x = cos(2 * pi)

print(x)

1.0

In [262]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [263]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [264]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.9/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/asasli/miniconda/lib/python3.9/lib-dynload/math.cpython-39-darwin.so

## Useful Sites

1. [Jupyter features](http://arogozhnikov.github.io/2016/09/10/jupyter-features.html)
2. [Practical Python Programming](https://dabeaz-course.github.io/practical-python/Notes/Contents.html)
3. [Scipy Lectures](http://scipy-lectures.org/index.html)
4. Google, YouTube, Stack Overflow, GeeksforGeeks